# backup files
*~
*#
# temporary/log files
*.tmp
*.log
log*
*.out
*.err
*.e
*.o
# data files
*.nc
# images and PDFs
*.pdf
*.svg
*.png
*.md
*.jpg
*.txt
# Checkpoints and caches
.ipynb_checkpoints/
__pycache__/
